/* styles/global.css */
body {
	font-family: 'Inter', sans-serif;
}

.nx-max-w-\[90rem\] {
	max-width: 80rem!important;
}
.nextra-content {
	font-size: 14px;
}
.nx-font-bold {
	font-weight: 900!important;
}
.nx-bg-primary-100 {
	background: yellow!important;
	color: black!important;
}
.nx-text-sm {
	font-size: 0.825rem!important;
}
.nx-text-gray-500 {
	color: #333!important;
}
.nx-rounded {
	border-radius: 0.5rem!important;
}